.cabecera{
    width: 100%;
    background-color: #2B448C;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.img_pokemon{
    width: 40rem;
}

.cabecera-button{
  display: none;
  cursor: pointer;
}
.cabecera-svg{
    width: 2em;
    height: 2em;
    color: #F2B90F;
    fill: rgb(53, 27, 167);
    
}

.cabecera-ul{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.cabecera-li{
    margin: 0.5em;
}

.top_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10%;
    
}

.loading {
    justify-content: center;
    margin-right: 40px;
}

.loading_title {
    color: #F2B90F;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
}

.please_reload {
    color:#000000;
    margin-top: 8px;
    font-size: 24px;
}

.home_title {
    color:#F2B90F;
    font-size: 40px;
}



select {
    padding: 4px;
    border-radius: 4px;
}

.link_create {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    border: 1px solid #F2B90F;
     padding: .5em; 
    border-radius: 4px;
    background: #F2B90F;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.link_create:hover{
    color: #F2B90F;
    background: none;
    border-color: #F2B90F;
}

.link_create:visited{
    color: none;
}

.btn_reload {
    cursor: pointer;
    background: #F2B90F;
    color: #000000;
    transition: all 0.3s ease;
    font-weight: bold;
    border: 1px solid #F2B90F;
    padding: .5em; 
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
        
    
}

.btn_reload:hover {
    color: #F2B90F;
    background: none;
    border-color: #F2B90F;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text_frag{
    text-decoration: none;
}



@media screen and (max-width:1100px){
    .cabecera-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cabecera-nav{
        display: flex;
        max-width: 100%;
        height: 0vh;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        transition: all .5s ease;
        
    }
    
    .cabecera-nav.isactive{
        opacity: 1;
        height: 60vh;
    }
    .cabecera-ul{
        flex-direction: column;
        list-style: none;
       
    }
    .cabecera-li{
        margin: .5em 0;
        text-decoration: none;
    
    }
    .img_pokemon{
        width: 20rem;
    }
  
}