.paginado {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  
}

.li {
    float: left;
    margin: 0px 2px;
    cursor: pointer;
    color: #000000;
    padding: .5em; 
    border-radius: 10px;
    font-size: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
   
    display: flex;
    align-items: center;
}
.but{
    border-radius: 10px;
    background-color: #2B448C;
    color: #000000;
}


.li:hover{
    
    background: #2B448C;
    
}